.footer {
  background-color: #191A2E;
  color: white;
  padding: 1rem 1rem;
  margin-top: auto;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
}

.footerLeft,
.footerCenter,
.footerRight {
  flex: 1;
  min-width: 200px;
  margin: 1px;
  text-align: center;
}

.footerLeft ul {
  list-style: none;
  padding: 0;
}

.footerLink {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 0.2rem;
  transition: color 0.3s;
}
.footerLink:hover {
  color: #8FF14C;
}

.nodoLogo {
  width: 90px;
  height: auto;
}

.socialIcon {
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
  transition: transform 0.3s;
}

.socialIcon:hover {
  filter: drop-shadow(0 0 5px #8FF14C);

}


.footerBottom {
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    text-align: center;
  }

  .footerLeft,
  .footerCenter,
  .footerRight {
    margin: 1rem 0;
  }

  .socialIcon {
    margin: 0 0.3rem;
  }
}
