.navbar {
  background-color: #191A2E;
  padding: 0.5rem 0;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* LOGO */
.logoWrapper {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 60px;
  width: auto;
}

/* MENÚ + MIHUB a la derecha */
.navRightGroup {
  display: flex;
  align-items: center;
}

.navMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}



.navLinks {
  color: white;
  text-decoration: none;
  padding: 0.7rem 1.2rem;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.navLinks:hover {
  color: #8EF14C;
  text-shadow: 0 0 15px rgba(143, 241, 76, 0.9);
  text-decoration: none;
}

.loginButton {
  background: linear-gradient(to right, #8EF14C, #3DDAD7);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #191A2E;
  font-weight: 600;
  text-decoration: none;
  transition: background-position 0.4s ease-in-out;
  background-size: 200% auto;
  background-position: left center;
}

.loginButton:hover {
  background-position: right center;
  color: white;
   background: linear-gradient(to left, #8EF14C, #3DDAD7);
}

/* Responsive */
@media (max-width: 768px) {
  .navbarContainer {
    flex-direction: column;
    align-items: center;
  }

  .navRightGroup {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .navMenu {
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin: 8px 0;
  }

  .loginButton {
    margin: 10px 0 0 0;
  }
}